@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>

	<title>Estación de radio</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<style>
		body {
			background-image: url('tu-imagen-de-fondo.jpg');
			background-size: cover;
			background-position: center;
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}

		.navbar {
			background-color: #000000;
			color: #fff;
			height: 80px;
			display: flex;
			align-items: center;
			padding: 0 20px;
			position: relative;
			border-radius: 10px;
			overflow: hidden;
		}

			.navbar img {
				height: 40px;
				margin-right: 60px;
			}

			.navbar audio {
				margin-left: auto;
			}
	.chat-wrapper {
	  position: relative;
	  display: flex;
	  justify-content: center;
	  margin-top: 50px;
	  margin-bottom: 50px;
		}

	/*media screen and (max-width: 767px) {
	  .chat-wrapper {
		margin-top: 20px;
		margin-bottom: 20px;
	  }
	}*/

	.chat-container {
	  width: 300px;
	  height: 400px;
	  background-color: #fff;
	  border-radius: 10px;
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	  overflow: hidden;
	}

		.chat-header {
			background-color: #3f51b5;
			color: #fff;
			padding: 10px;
		}

			.chat-header h3 {
				margin: 0;
			}

		.chat-history {
			height: 290px;
			overflow-y: scroll;
			padding: 10px;
		}

			.chat-history .message {
				margin-bottom: 10px;
			}

				.chat-history .message .sender {
					font-weight: bold;
				}

		.chat-input {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px;
		}

			.chat-input input[type="text"] {
				flex: 1;
				margin-right: 10px;
				padding: 10px;
				border-radius: 5px;
				border: none;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				font-size: 16px;
			}

			.chat-input button {
				background-color: #3f51b5;
				color: #fff;
				padding: 10px;
				border: none;
				border-radius: 5px;
				cursor: pointer;
				font-size: 16px;
			}

	</style>
</head>
<body>
	<div class="navbar">
		<img src="/Img/kyclops-logo.png" alt="Logo de la estación de radio">
		<h2>KyclopsRadio</h2>
		<audio src="tu-url-de-streaming" controls></audio>
	</div>

	<div class="chat-wrapper">
	<div class="chat-container">
		<div class="chat-header">
			<h3>Chat en vivo</h3>
		</div>
		<div class="chat-history" id="chat-history">
		</div>
		<div class="chat-input">
			<input type="text" placeholder="Escribe tu mensaje..." id="chat-input">
			<button id="send-button">Enviar</button>
		</div>
	</div>
	</div>


		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicadores -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="/Img/horarios2.png" alt="Imagen 1">
				</div>
				<div class="item">
					<img src="/Img/horarios2.png" alt="Imagen 2">
				</div>
				<div class="item">
					<img src="/Img/horarios2.png" alt="Imagen 3">
				</div>
			</div>

			<!-- Controles -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Anterior</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Siguiente</span>
			</a>
		</div>

</body>
</html>
